<section class="under-top">
  <div class="container">
  <div class="row">
    <div class="col-md-2" style="height:495px;">
    </div>

    <div class=col-md-8 id="text-lorem">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum nisi quis nisi consequat, id sollicitudin sapien aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac mauris vehicula, dignissim libero id, auctor sem. Nullam accumsan neque id luctus porta. Nulla id arcu sit amet purus tincidunt porta ut et tellus. 
      </p>

      <br>

      <div class="container-fluid" id="font-awesome" >
        <div class="row">
          <div class="col-md-3" id="fontawesome-rectangle">
            <div class="fontawesome">
              <i class="fa fa-address-card fa-5x icon"></i>
                <span><p>Nullam accumsan neque id luctus porta. </p></span>
            </div>
              

            <!-- <div class="col-md-6 offset-md-2">
              <div class="verticalLine"> </div>
            </div> -->
          </div>

          <div class="col-md-3" id="fontawesome-rectangle">
            <div class="fontawesome">
              <i class="fa fa-shield fa-5x icon"></i>
                <p class="text-under-fontawesome">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                </p>
            </div>
          </div>

          <div class="col-md-3" id="fontawesome-rectangle">
            <div class="fontawesome">
              <i class="fa fa-eye fa-5x icon"></i>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                </p>
            </div>
          </div>

          <div class="col-md-3" >
            <div class="fontawesome">
              <i class="fa fa-gift fa-5x icon"></i>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                </p>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class=col-md-2>
    </div>

  </div>
</section>

<section class="horizontal-line">
  <div class="card-footer bg-transparent border-default">
  </div>
</section>

<section class="middle">
  <div class="container">
      <h2 align="center" class="title-text">Develops your kids talent's today!</h2>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-1 integer">
            1
          </div>

          <div class="col-md-11 string">
            <h4> Embark on the lessons</h4>
              <p>
               Fusce in dolor quis nulla rutrum consequat commodo sed urna. Ut venenatis nibh a dui pharetra finibus. Fusce pellentesque neque id purus fringilla, non cursus libero viverra. 
              </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
            <div class="col-md-1 integer">
              2
            </div>

            <div class="col-md-11 string">
              <h4> Leave Review</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum nisi quis nisi consequat, id sollicitudin sapien aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac mauris vehicula, dignissim libero id, auctor sem. Nullam accumsan neque id luctus porta.  
              </p>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-1 integer">
            3
          </div>

        <div class="col-md-11 string">
          <h4> Embark on the lessons</h4>
            <p>
             Fusce in dolor quis nulla rutrum consequat commodo sed urna. Ut venenatis nibh a dui pharetra finibus. Fusce pellentesque neque id purus fringilla, non cursus libero viverra. 
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-1 integer">
            4
          </div>

          <div class="col-md-11 string">
            <h4> Leave Review</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum nisi quis nisi consequat, id sollicitudin sapien aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ac mauris vehicula, dignissim libero id, auctor sem. Nullam accumsan neque id luctus porta.  
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="parent">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" align="center" id="parent">
        What parents say?
      </div>
    </div>
  </div>

  <div class="container"> 
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators" >
        <li id="carousel-indicators" data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li  id="carousel-indicators" data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li id="carousel-indicators" data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <img src="/assets/about-us-homeowners-1.png" alt="San Francisco" width="125" height="125">
              <div class="rectangle-word-frame">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <img src="/assets/about-us-homeowners-1.png" alt="San Francisco" width="125" height="125">
              <div class="rectangle-word-frame">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <img src="/assets/about-us-homeowners-1.png" alt="San Francisco" width="125" height="125">
              </div>
              
              <div class="col-md-6">
                <div class="rectangle-word-frame">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                  </p>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <img src="/assets/about-us-homeowners-1.png" alt="San Francisco" width="125" height="125">
              <div class="rectangle-word-frame">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <img src="/assets/about-us-homeowners-1.png" alt="San Francisco" width="125" height="125">
              <div class="rectangle-word-frame">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <img src="/assets/about-us-homeowners-1.png" alt="San Francisco" width="125" height="125">
              <div class="rectangle-word-frame">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <img src="/assets/about-us-homeowners-1.png" alt="San Francisco" width="125" height="125">
              <div class="rectangle-word-frame">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at laoreet arcu. Fusce maximus eleifend eleifend. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<section class="near-footer">
  <div class="card-footer bg-transparent border-default horizontal-line-footer">
    <div class="container-fluid">
      <div class="row" id="text-near-footer">
        <div class="col-md-6">
          <div class="row">
            <div class="col-sm-6" id="radar"> 
              <h6 class="header-text"> CoachRadar</h6>
              <p class="text-footer"> CoachRadar 2018, All rights reserved</p>
            </div>

            <div class="col-sm-6"> 
              <h6 class="header-text">Sports</h6>
              <p class="text-footer">We have wide variety of sports categories</p>
              <div>
                <span >
                  <a class="link-text" href="#">Basketball |</a>
                  <a class="link-text" href="#">Football |</a>
                  <a class="link-text" href="#">Badminton |</a>
                  <a class="link-text" href="#">Swimming</a>
                </span>
              </div>
            </div>
          </div>
        </div>

         <div class="col-md-6">
          <div class="row">
            <div class="col-sm-4">
              <h6 class="header-text">Coach</h6>
              <p class="text-footer"> Want to be a coach?</p>
              <div>
                <span ><a class="link-text" href="#">Learn more </a></span>
              </div>
            </div>

            <div class="col-sm-4">
              <h6 class="header-text">About</h6>
              <p class="text-footer"> Know about us here </p>
              <div>
                <span class="link-text"><a class="link-text" href="#">About us</a></span>
              </div>
            </div>

            <div class="col-sm-4">
              <h6 class="header-text">Contact</h6>
              <p class="text-footer">  Get in touch with us </p>
              <div>
                <span class="link-text"><a class="link-text" href="#">Contact us </a></span>
              </div>
            </div>

          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <nav class="navbar navbar-expand-lg fixed-top text-uppercase footer" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#page-bottom" id="link-footer">Tearms of Use  |</a>

    <a class="navbar-brand js-scroll-trigger" href="#page-bottom" id="link-footer-2">Privacy Policy</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1" id="coach">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="white-text-top"><i class="fa fa-facebook-square fa-2x face-icon"></i></a>
        </li>
        <li class="nav-item mx-0 mx-lg-1" id="Login">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="white-text-top"><i class="fa fa-instagram fa-2x instagram-icon"></i></a>
        </li>
        <li class="nav-item mx-0 mx-lg-1" id="sign-up">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" id="white-text-top"><i class="fa fa-twitter fa-2x twitter-icon"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</section>
