@import "bootstrap";

.navbar-style {
  background-color: #0f7675 !important;
  height: 50px;
  border-radius: 0px !important;
  padding-top: 30px !important;
}

.top-style {
  background-color: #0f7675 !important;
  height: 230px;
  border-radius: 0px !important;
}

.fontawesome {
  text-align: center;
  display: inline-block;
}

.verticalLine {
  border-left: 2px solid #ff0000;
  height: 100px;
  // margin-left: 150px;
}

.icon {
  color: #0f7675;
}

.icon-top {
  width: 30px;
  height: 30px;
  color: black;
  z-index: 1;
}

.integer {
  font-size: 37px;
  margin-top: 40px;
  color: #0f7675;
}

.face-icon{
  color: #3d5a96;
  padding-bottom: 30px !important;
}

.twitter-icon{
  color: #78aae8;
}

.instagram-icon{
  color: #f2481d;
}

.header-text{
  color: #0f7675;
  font-size: 15px;
}

.text-footer {
  color: black;
  font-size: 12px;
  margin-bottom: 7px;
}

.link-text {
  color: #0f7675 !important;
  font-size: 13px;
}

.horizontal-line-footer {
  height: 194px;
  color: #F1F1F1;
}

.footer {
  height: 92px;
  width: 100%;
  background-color: #F1F1F1;
}

section #middle {
  height: 780px;
}

#text-near-footer {
  padding-top: 45px;
}

#text{
  padding-left: 110px;
}

#radar{
  padding-left: 105px;
}

#white-text{
  color: white;
}

#white-text1{
  color: white;
  font-size: 15px;
}

#navbar-text{
  margin-top: 5px;
}

#white-text-top{
  color: white;
  width: auto;
  font-size: 8px;
}

#link-footer{
  // padding-left: 105px;
  padding-right: 0px;
  font-size: 14px;
  color: black;
}
#link-footer-2{
  padding-left: 0px;
  font-size: 14px;
  color: black;
}

.rectangle-word-frame{
  width: 200px;
  height: 180px;
  text-align: center;
  background-color: #FEFEFE;
}

.carousel-item.active,
.carousel-item.active + .carousel-item,
.carousel-item.active + .carousel-item  + .carousel-item {
   width: 33.3%;
   display: block;
   float:left;
}  

#carousel-indicators.active{
  background-color: #0f7675 !important;
}

#carousel-indicators{
  border-color: #0f7675 !important;
}

.icon-next{
  color: #0f7675 !important;
}

.icon-prev{
    color: #0f7675 !important;
}

#sign-up{
  width: 85px;
  font-size: 15px;
}
#coach{
  width: 155px;
  font-size: 15px;
}

#login{
  font-size: 15px;
}

#navbarNav{
  padding-left: 902px;
}

#parent{
  color: #0f7675 !important;
  font-size: 30px;
  padding-bottom: 100px;
  padding-top: 60px;
}

.parent{
  background-color: #F9F9F9;
  height: 515px;
  width: 100%;
}

.horizontal-line-footer {
  color: red;
}
.horizontal-line{
  height: 70px;
  color: #F9F9F9;
}

#fontawesome-rectangle::before{
  height: 50%;
  top: 25%;
  display: block;
  position: absolute;
  content: '';
  border-top-style: hidden;
  border-right: 3px solid #F1F1F1;
  border-bottom-style: hidden;
  border-left-style: hidden;
  left: 100%;
  // border-height: 40%;
  // background-size: 4px 50%, calc(100% - 4px) 100%;
  // background-position: right bottom, 4px 0;
}

#text-lorem{
  padding-top: 46px;
  line-height: 30px;
}

#text-lorem1{
  line-height: 30px;
}

#font-awesome{
  padding-top: 72px;
}

.text-under-fontawesome{
  font-size: 15px;
  line-height: 20px; 
}

.title-text {
  padding-bottom: 80px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.text-white{
  color: black;
}

.near-footer {
  background-color: #F9F9F9;
  height: 170px;
}

#fontawesome-icon {
  padding-top: 23px !important;
}
.copyright-text{
  padding-top: 31px;
}

#line-nearby-footer{
  height: 75px;
}

#logo-navbar{
  color:  white;
}

.middle-line{
  height: 50px;
}

#span-text{
  height: 130px;
  background-color: #F9F9F9
}