<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase navbar-style" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#page-top" id="white-text1">Coach Radar</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1" id="coach">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio" id="white-text-top">Become a Coach</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1" id="Login">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" id="white-text-top">Login</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1" id="sign-up">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact" id="white-text-top">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>